/* Estilo geral para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Cor de fundo suave */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-start; /* Alinha os itens ao topo */
    min-height: 100vh; /* Garante que o corpo ocupe toda a altura da tela */
    flex-direction: column;
}

/* Cabeçalho */
header {
    background-color: #0cb629; /* Verde mais claro para o IFPB */
    width: 100%;
    padding: 15px 0;
    color: #000; /* Título preto */
    text-align: center;
    font-size: 1.8em;
}

/* Centralizando a área de pesquisa */
main {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.area-de-pesquisa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%; /* Largura da área de pesquisa */
    max-width: 600px; /* Limite máximo para a largura */
}

.area-de-pesquisa h2 {
    font-size: 1.5em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para o campo de pesquisa e o botão */
.botao-de-pesquisa {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.botao-de-pesquisa input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
}

.botao-de-pesquisa button {
    padding: 10px 15px;
    background-color: #0cb629; /* Verde mais claro para o IFPB */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao-de-pesquisa button:hover {
    background-color: #0cb629; /* Tom mais escuro para o efeito hover */
}

/* Estilo da tabela */
table {
    width: 80%; /* Define uma largura para a tabela */
    max-width: 1200px; /* Limita a largura máxima */
    margin: 30px auto; /* Centraliza a tabela horizontalmente */
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

th, td {
    padding: 12px 20px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #0cb629; /* Verde mais claro para o IFPB */
    color: white;
    font-size: 1.2em;
}

td {
    font-size: 1em;
    color: #333;
}

/* Adicionando a separação visual entre os horários da manhã e da tarde */
tbody tr:nth-child(5) {
    border-bottom: 3px solid #0cb629; /* Borda verde para separação */
}

tbody tr:nth-child(6) {
    border-top: 3px solid #0cb629; /* Borda verde para separação */
}

/* Rodapé */
footer {
    margin-top: 40px;
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    width: 100%;
}
